body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

h1, h2 {
    color: #333;
}


main {
    padding: 20px;
}

.posts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.post {
    background-color: white;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.post a {
    color: #0066cc;
    text-decoration: none;
}

.post a:hover {
    text-decoration: underline;
}


@media (max-width: 768px) {
    .posts {
        grid-template-columns: 1fr;
    }
}


form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form input, form textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}